body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 100vh;
}

main {
    display: flex;
    box-sizing: border-box;
    gap: 2em;
    width: fit-content;
    height: fit-content;
    background-color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.479);
    color: #222222;
}

main > img {
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

#doc {
    color: gray;
}

.expertise {
    background: rgba(128, 128, 128, 0.397);
    padding: 8px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 5px;
}

.expertise:hover {
    background: rgb(185, 85, 185);
    color: white;
}

.buttons {
    display: inline-block;
    border: 1px solid;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 20px;
    text-align: center;
}

.one {
    color: white;
    background-color: #222222;
}

#buttons--container {
    display: flex;
    gap: 0.9em;
    margin-top: 35px;
    padding: 8px;
    font-weight: 500;
}


@media screen and (max-width: 750px) {
    #buttons--container {
        display: flex;
        flex-direction: column;

    }

    .buttons {
        width: 80%;
    }
}


@media screen and (max-width: 650px) {
   main {
        display: flex;
        flex-direction: column;

    }

    main > img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
    }

    #buttons--container {
        display: flex;
        flex-direction: row;
    }

    #info--section {
        margin: 0 10px;
    }

    .one {
        width: 60%;
        display: inline-block;
    }

    .two {
        width: 30%;
        display: inline;
    }


}

